data
src.egg-info
figures
figures2d
__pycache__/benchmark_problems.cpython-38.pyc
__pycache__/bohamiann.cpython-38.pyc
__pycache__/gaussian_process_regression.cpython-38.pyc
__pycache__/numpyro_neural_network.cpython-38.pyc
__pycache__/utils.cpython-38.pyc
src/__pycache__/benchmark_class.cpython-38.pyc
src/__pycache__/benchmark_problems.cpython-38.pyc
src/__pycache__/utils.cpython-38.pyc
src/regression_models/__pycache__/bohamiann.cpython-38.pyc
src/regression_models/__pycache__/gaussian_process_regression.cpython-38.pyc
src/regression_models/__pycache__/numpyro_neural_network.cpython-38.pyc
src/__pycache__/common.cpython-38.pyc
src/regression_models/__pycache__/gaussian_mixture_regression2.cpython-38.pyc
env
Output*
Error*
*cpython-38.pyc
thesis/Pictures/DTU_stock_photo.jpg
thesis/Pictures/Logos/black_cmyk.pdf
thesis/Pictures/Logos/black_rgb.pdf
thesis/Pictures/Logos/dtured_cmyk.pdf
thesis/Pictures/Logos/dtured_rgb.pdf
thesis/Pictures/Logos/white_cmyk.pdf
thesis/Pictures/Logos/white_rgb.pdf
bayes_opt_experiments/figures_alternative_EI/alternative_EI_naive_GMR_000.jpg
bayes_opt_experiments/figures_alternative_EI/alternative_EI_naive_GMR_001.jpg
bayes_opt_experiments/figures_alternative_EI/alternative_EI_naive_GMR_002.jpg
bayes_opt_experiments/figures_alternative_EI/alternative_EI_naive_GMR_003.jpg
bayes_opt_experiments/figures_alternative_EI/alternative_EI_naive_GMR_004.jpg
bayes_opt_experiments/figures_alternative_EI/alternative_EI_naive_GMR_005.jpg
bayes_opt_experiments/figures_alternative_EI/alternative_EI_naive_GMR_006.jpg
bayes_opt_experiments/figures_alternative_EI/alternative_EI_naive_GMR_007.jpg
bayes_opt_experiments/figures_alternative_EI/alternative_EI_naive_GMR_008.jpg
bayes_opt_experiments/figures_alternative_EI/alternative_EI_naive_GMR_009.jpg
bayes_opt_experiments/figures_alternative_EI/alternative_EI_naive_GMR_010.jpg
bayes_opt_experiments/figures_alternative_EI/alternative_EI_naive_GMR_011.jpg
bayes_opt_experiments/figures_alternative_EI/alternative_EI_naive_GMR_012.jpg
bayes_opt_experiments/figures_alternative_EI/alternative_EI_naive_GMR_013.jpg
bayes_opt_experiments/figures_alternative_EI/alternative_EI_naive_GMR_014.jpg
bayes_opt_experiments/figures_alternative_EI/alternative_EI_naive_GMR_015.jpg
bayes_opt_experiments/figures_alternative_EI/alternative_EI_naive_GMR_016.jpg
bayes_opt_experiments/figures_alternative_EI/alternative_EI_naive_GMR_017.jpg
bayes_opt_experiments/figures_alternative_EI/alternative_EI_naive_GMR_018.jpg
bayes_opt_experiments/figures_alternative_EI/alternative_EI_naive_GMR_019.jpg
bayes_opt_experiments/figures_alternative_EI/alternative_EI_naive_GMR_020.jpg
bayes_opt_experiments/figures_alternative_EI/alternative_EI_naive_GMR_021.jpg
bayes_opt_experiments/figures_alternative_EI/alternative_EI_naive_GMR_022.jpg
bayes_opt_experiments/figures_alternative_EI/alternative_EI_naive_GMR_023.jpg
bayes_opt_experiments/figures_alternative_EI/alternative_EI_naive_GMR_024.jpg
bayes_opt_experiments/figures_alternative_EI/alternative_EI_naive_GMR_025.jpg
bayes_opt_experiments/figures_alternative_EI/alternative_EI_naive_GMR_026.jpg
bayes_opt_experiments/figures_alternative_EI/alternative_EI_naive_GMR_027.jpg
bayes_opt_experiments/figures_alternative_EI/alternative_EI_naive_GMR_028.jpg
bayes_opt_experiments/figures_alternative_EI/alternative_EI_naive_GMR_029.jpg
bayes_opt_experiments/figures_alternative_EI/alternative_EI_naive_GMR_030.jpg
bayes_opt_experiments/figures_alternative_EI/alternative_EI_naive_GMR_031.jpg
bayes_opt_experiments/figures_alternative_EI/alternative_EI_naive_GMR_032.jpg
bayes_opt_experiments/figures_alternative_EI/alternative_EI_naive_GMR_033.jpg
bayes_opt_experiments/figures_alternative_EI/alternative_EI_naive_GMR_034.jpg
bayes_opt_experiments/figures_alternative_EI/alternative_EI_naive_GMR_035.jpg
bayes_opt_experiments/figures_alternative_EI/alternative_EI_naive_GMR_036.jpg
bayes_opt_experiments/figures_alternative_EI/alternative_EI_naive_GMR_037.jpg
bayes_opt_experiments/figures_alternative_EI/alternative_EI_naive_GMR_038.jpg
bayes_opt_experiments/figures_alternative_EI/alternative_EI_naive_GMR_039.jpg
bayes_opt_experiments/figures_alternative_EI/alternative_EI_naive_GMR_040.jpg
bayes_opt_experiments/figures_alternative_EI/alternative_EI_naive_GMR_041.jpg
bayes_opt_experiments/figures_alternative_EI/alternative_EI_naive_GMR_042.jpg
bayes_opt_experiments/figures_alternative_EI/alternative_EI_naive_GMR_043.jpg
bayes_opt_experiments/figures_alternative_EI/alternative_EI_naive_GMR_044.jpg
bayes_opt_experiments/figures_alternative_EI/alternative_EI_naive_GMR_045.jpg
bayes_opt_experiments/figures_alternative_EI/alternative_EI_naive_GMR_046.jpg
bayes_opt_experiments/figures_alternative_EI/alternative_EI_naive_GMR_047.jpg
bayes_opt_experiments/figures_alternative_EI/alternative_EI_naive_GMR_048.jpg
bayes_opt_experiments/figures_alternative_EI/alternative_EI_naive_GMR_049.jpg
bayes_opt_experiments/figures_alternative_EI/alternativeEI_GMR.gif
bayes_opt_experiments/figures_alternative_EI_manipulated_variance/alternative_EI_naive_GMR_manipulated_variance_000.jpg
bayes_opt_experiments/figures_alternative_EI_manipulated_variance/alternative_EI_naive_GMR_manipulated_variance_001.jpg
bayes_opt_experiments/figures_alternative_EI_manipulated_variance/alternative_EI_naive_GMR_manipulated_variance_002.jpg
bayes_opt_experiments/figures_alternative_EI_manipulated_variance/alternative_EI_naive_GMR_manipulated_variance_003.jpg
bayes_opt_experiments/figures_alternative_EI_manipulated_variance/alternative_EI_naive_GMR_manipulated_variance_004.jpg
bayes_opt_experiments/figures_alternative_EI_manipulated_variance/alternative_EI_naive_GMR_manipulated_variance_005.jpg
bayes_opt_experiments/figures_alternative_EI_manipulated_variance/alternative_EI_naive_GMR_manipulated_variance_006.jpg
bayes_opt_experiments/figures_alternative_EI_manipulated_variance/alternative_EI_naive_GMR_manipulated_variance_007.jpg
bayes_opt_experiments/figures_alternative_EI_manipulated_variance/alternative_EI_naive_GMR_manipulated_variance_008.jpg
bayes_opt_experiments/figures_alternative_EI_manipulated_variance/alternative_EI_naive_GMR_manipulated_variance_009.jpg
bayes_opt_experiments/figures_alternative_EI_manipulated_variance/alternative_EI_naive_GMR_manipulated_variance_010.jpg
bayes_opt_experiments/figures_alternative_EI_manipulated_variance/alternative_EI_naive_GMR_manipulated_variance_011.jpg
bayes_opt_experiments/figures_alternative_EI_manipulated_variance/alternative_EI_naive_GMR_manipulated_variance_012.jpg
bayes_opt_experiments/figures_alternative_EI_manipulated_variance/alternative_EI_naive_GMR_manipulated_variance_013.jpg
bayes_opt_experiments/figures_alternative_EI_manipulated_variance/alternative_EI_naive_GMR_manipulated_variance_014.jpg
bayes_opt_experiments/figures_alternative_EI_manipulated_variance/alternative_EI_naive_GMR_manipulated_variance_015.jpg
bayes_opt_experiments/figures_alternative_EI_manipulated_variance/alternative_EI_naive_GMR_manipulated_variance_016.jpg
bayes_opt_experiments/figures_alternative_EI_manipulated_variance/alternative_EI_naive_GMR_manipulated_variance_017.jpg
bayes_opt_experiments/figures_alternative_EI_manipulated_variance/alternative_EI_naive_GMR_manipulated_variance_018.jpg
bayes_opt_experiments/figures_alternative_EI_manipulated_variance/alternative_EI_naive_GMR_manipulated_variance_019.jpg
bayes_opt_experiments/figures_alternative_EI_manipulated_variance/alternative_EI_naive_GMR_manipulated_variance_020.jpg
bayes_opt_experiments/figures_alternative_EI_manipulated_variance/alternative_EI_naive_GMR_manipulated_variance_021.jpg
bayes_opt_experiments/figures_alternative_EI_manipulated_variance/alternative_EI_naive_GMR_manipulated_variance_022.jpg
bayes_opt_experiments/figures_alternative_EI_manipulated_variance/alternative_EI_naive_GMR_manipulated_variance_023.jpg
bayes_opt_experiments/figures_alternative_EI_manipulated_variance/alternative_EI_naive_GMR_manipulated_variance_024.jpg
bayes_opt_experiments/figures_alternative_EI_manipulated_variance/alternative_EI_naive_GMR_manipulated_variance_025.jpg
bayes_opt_experiments/figures_alternative_EI_manipulated_variance/alternative_EI_naive_GMR_manipulated_variance_026.jpg
bayes_opt_experiments/figures_alternative_EI_manipulated_variance/alternative_EI_naive_GMR_manipulated_variance_027.jpg
bayes_opt_experiments/figures_alternative_EI_manipulated_variance/alternative_EI_naive_GMR_manipulated_variance_028.jpg
bayes_opt_experiments/figures_alternative_EI_manipulated_variance/alternative_EI_naive_GMR_manipulated_variance_029.jpg
bayes_opt_experiments/figures_alternative_EI_manipulated_variance/alternative_EI_naive_GMR_manipulated_variance_030.jpg
bayes_opt_experiments/figures_alternative_EI_manipulated_variance/alternative_EI_naive_GMR_manipulated_variance_031.jpg
bayes_opt_experiments/figures_alternative_EI_manipulated_variance/alternative_EI_naive_GMR_manipulated_variance_032.jpg
bayes_opt_experiments/figures_alternative_EI_manipulated_variance/alternative_EI_naive_GMR_manipulated_variance_033.jpg
bayes_opt_experiments/figures_alternative_EI_manipulated_variance/alternative_EI_naive_GMR_manipulated_variance_034.jpg
bayes_opt_experiments/figures_alternative_EI_manipulated_variance/alternative_EI_naive_GMR_manipulated_variance_035.jpg
bayes_opt_experiments/figures_alternative_EI_manipulated_variance/alternative_EI_naive_GMR_manipulated_variance_036.jpg
bayes_opt_experiments/figures_alternative_EI_manipulated_variance/alternative_EI_naive_GMR_manipulated_variance_037.jpg
bayes_opt_experiments/figures_alternative_EI_manipulated_variance/alternative_EI_naive_GMR_manipulated_variance_038.jpg
bayes_opt_experiments/figures_alternative_EI_manipulated_variance/alternative_EI_naive_GMR_manipulated_variance_039.jpg
bayes_opt_experiments/figures_alternative_EI_manipulated_variance/alternative_EI_naive_GMR_manipulated_variance_040.jpg
bayes_opt_experiments/figures_alternative_EI_manipulated_variance/alternative_EI_naive_GMR_manipulated_variance_041.jpg
bayes_opt_experiments/figures_alternative_EI_manipulated_variance/alternative_EI_naive_GMR_manipulated_variance_042.jpg
bayes_opt_experiments/figures_alternative_EI_manipulated_variance/alternative_EI_naive_GMR_manipulated_variance_043.jpg
bayes_opt_experiments/figures_alternative_EI_manipulated_variance/alternative_EI_naive_GMR_manipulated_variance_044.jpg
bayes_opt_experiments/figures_alternative_EI_manipulated_variance/alternative_EI_naive_GMR_manipulated_variance_045.jpg
bayes_opt_experiments/figures_alternative_EI_manipulated_variance/alternative_EI_naive_GMR_manipulated_variance_046.jpg
bayes_opt_experiments/figures_alternative_EI_manipulated_variance/alternative_EI_naive_GMR_manipulated_variance_047.jpg
bayes_opt_experiments/figures_alternative_EI_manipulated_variance/alternative_EI_naive_GMR_manipulated_variance_048.jpg
bayes_opt_experiments/figures_alternative_EI_manipulated_variance/alternative_EI_naive_GMR_manipulated_variance_049.jpg
bayes_opt_experiments/figures_alternative_EI_manipulated_variance/alternativeEI_GMR_manipluated_variance.gif
