data
src.egg-info
figures
figures2d
__pycache__/benchmark_problems.cpython-38.pyc
__pycache__/bohamiann.cpython-38.pyc
__pycache__/gaussian_process_regression.cpython-38.pyc
__pycache__/numpyro_neural_network.cpython-38.pyc
__pycache__/utils.cpython-38.pyc
src/__pycache__/benchmark_class.cpython-38.pyc
src/__pycache__/benchmark_problems.cpython-38.pyc
src/__pycache__/utils.cpython-38.pyc
src/regression_models/__pycache__/bohamiann.cpython-38.pyc
src/regression_models/__pycache__/gaussian_process_regression.cpython-38.pyc
src/regression_models/__pycache__/numpyro_neural_network.cpython-38.pyc
src/__pycache__/common.cpython-38.pyc
src/regression_models/__pycache__/gaussian_mixture_regression2.cpython-38.pyc
env
Output*
Error*
*cpython-38.pyc
thesis/Pictures/DTU_stock_photo.jpg
thesis/Pictures/Logos/black_cmyk.pdf
thesis/Pictures/Logos/black_rgb.pdf
thesis/Pictures/Logos/dtured_cmyk.pdf
thesis/Pictures/Logos/dtured_rgb.pdf
thesis/Pictures/Logos/white_cmyk.pdf
thesis/Pictures/Logos/white_rgb.pdf
